<header class="header">
  <a href="/" class="header__logo">NodeJS</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
      </li>
      <li>
        <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>"
          >About</a
        >
      </li>
      <li>
        <a
          href="/contact"
          class="<%= isActiveRoute('/contact', currentRoute) %>"
          >Contact</a
        >
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <svg
        role="img"
        aria-label="Search"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="20"
        height="20"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="6"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </button>
  </div>
</header>
